@{
    HttpContextAccessor.HttpContext.RemoveSession<List<MenuGroup>>("ReturnMessage");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link rel="icon" href="~/images/favicon.ico">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <!-- Bootstrap datatable -->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <!-- Bootstrap4 Duallistbox -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.1/bootstrap-duallistbox.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.0/css/adminlte.min.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>


    @RenderSection("HeadCss", false)
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-bell" style="color:red"></i>
                        <span class="badge badge-warning navbar-badge" id="alertHead"></span>                        
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Licence Expire Alert</span>
                        <div class="dropdown-divider"></div>
                        <div>
                            <a href="@Url.Action("ListLicenceExpiry", "Notification",  new { area = string.Empty })" class="dropdown-item" style="display:none" id="alertM">
                                <i class="fas fa-envelope mr-2"></i><text id="alertText"> 0 </text> Licences will be Expired soon
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" onclick="CheckerApproval();">
                        <i class="fas fa-clipboard-check"></i>
                        <span class="badge badge-info navbar-badge">✓</span>
                    </a>
                    <div id="CheckerApprovalDiv" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        @*<div class="overlay text-center">
                    <i class="fas fa-2x fa-sync-alt"></i>
                </div>*@
                    </div>
                </li>
                @*<li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="@Url.Action("Index", "Notification", new { area = string.Empty })" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>*@
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-olive elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="brand-link bg-warning">
                <img src="~/images/licensingerp_128.png" alt="LicensingERP Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Licensing ERP</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/images/user-160x160.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="d-block">
                            @(((AuthticateCredential)ViewBag.SessionPerson).FullName)
                        </a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <partial name="_PartialMenu" />
                <!-- /.sidebar-menu -->
            </div>

        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer text-sm">
            <strong>Developed by <a href="https://github.com/JicoDotNet/Software-Licensing-Module-ERP-Net8.0" target="_blank">JicoDotNet</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> @(TempData.Get<object>("Version").ToString())
                <small class="ml-2 text-success">Make in India</small>
            </div>
        </footer>

        <aside class="control-sidebar control-sidebar-light">
            <div class="row mr-0">
                <div class="col-md-12">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="~/images/user-128x128.png" alt="User profile picture">
                        </div>
                        <ul class="list-group list-group-unbordered mb-2">
                            <li class="list-group-item">
                                <h4 class="profile-username text-center" style="color:#000000">
                                    @(((AuthticateCredential)ViewBag.SessionPerson).FullName)
                                </h4>
                                <p class="text-muted text-center" style="color:#000000">
                                    @(((AuthticateCredential)ViewBag.SessionPerson).UserName)
                                </p>
                            </li>
                        </ul>
                        <ul class="nav flex-column mb-3">
                            <li class="nav-item" style="text-transform: uppercase; font-size: 0.8rem;color: #6c757d;font-weight: bold;padding: 0.5rem 1rem;">Activity</li>
                            <li class="nav-item">
                                <a href="@Url.Action("Password", "Profile", new { area = string.Empty })" class="nav-link">
                                    Change Password
                                </a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="float-left">
                                    <a href="@Url.Action("Index", "Profile", new { area = string.Empty })" class="btn btn-info">Profile</a>
                                </div>
                                <div class="float-right">
                                    <a href="@Url.Action("Logout", "Account", new { area = string.Empty })" class="btn btn-danger">Sign out</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- Bootstrap 4.1.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- Select2  4.0.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.1/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask@4.0.9/dist/jquery.inputmask.bundle.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Bootstrap Datatable -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- AdminLTE App 3.0.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.0/js/adminlte.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            bindDataTable('#example1');
        });
        function bindDataTable(selector) {
            $(selector).dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,
                "searching": true,
                "scrollX": true
            });
        }
        $('.toast').toast('show');

        $(function () {
            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()


            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            //Date picker
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true,
                startDate: today,
                endDate: end,
                autoclose: true
            })
            $('#datepicker2').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true,
                startDate: today,
                endDate: end,
                autoclose: true
            })
            $('#datepicker,#datepicker2').datepicker('setDate', today);

        });

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Initialize Select2 Elements
        $('.select2').select2()

        $(document).ready(function () {
            $("#ckbCheckAll1").click(function () {
                $(".checkBoxClass1").prop('checked', $(this).prop('checked'));
            });

            $(".checkBoxClass1").change(function () {
                if (!$(this).prop("checked")) {
                    $("#ckbCheckAll1").prop("checked", false);
                }
            });
        });
        $(document).ready(function () {
            $("#ckbCheckAll").click(function () {
                $(".checkBoxClass").prop('checked', $(this).prop('checked'));
            });

            $(".checkBoxClass").change(function () {
                if (!$(this).prop("checked")) {
                    $("#ckbCheckAll").prop("checked", false);
                }
            });
        });

        function errorAlert(title, message, subtitle) {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: title,
                subtitle: subtitle,
                body: message,
                animation: true,
                autohide: true,
                delay: 5000
            });
            setDefaultButton();
        }
        function successAlert(title, message, subtitle) {
            $(document).Toasts('create', {
                class: 'bg-success',
                title: title,
                subtitle: subtitle,
                body: message,
                animation: true,
                autohide: true,
                delay: 5000
            });
            setDefaultButton();
        }

    @{
        ReturnObject returnObject = TempData.Get<ReturnObject>("ReturnMessage");
    }
        $(function () {
        @if (returnObject != null)
        {
            if (returnObject.Status)
            {
                <text> toastr.success("@Html.Raw(returnObject.Message)"); </text>
            }
            else
            {
                <text> toastr.error("@(Html.Raw(returnObject.Message))"); </text>
            }
        }
        });

        function CheckerApproval() {
            $('#CheckerApprovalDiv').html('<div class="overlay text-center" style="margin:10px;"><i class="fas fa-sync-alt fa-spin fa-2x"></i></div>');
            $('#CheckerApprovalDiv').load('@Url.Action("Pending", "Checker", new { id = string.Empty })')
        }

        var prevHtml = '';

        // need upgrade
        //$('button[type="submit"], button[type="button"]').click(function (e) {
        //    prevHtml = $('button[type="submit"], button[type="button"]').html();
        //    $('button[type="submit"]').html('<i class="fas fa-spinner fa-spin fa-2x"></i>');
        //    return true;
        //});

        $('form').submit(function (e) {
            prevHtml = $('form').find('button[type="submit"]').html();
            $('form').find('button[type="submit"]').prop('disabled', true);

                //.html('<i class="fas fa-spinner fa-spin fa-2x"></i>');
            return true;
        });

        function setDefaultButton() {
            $('form').find('button[type="submit"]').html(prevHtml);
            // need upgrade
            //$('button[type="submit"], button[type="button"]').html(prevHtml);
        }

        $('form  input[type="text"] , form  textarea , form  input[type="password"]').blur(function () {
            var str = $(this).val().trim();
            if (str === '') {
                $(this).val(str);
            }
            return;
        });

        //alert of Licence Experitation
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLicenceExpireAlert", "Notification")',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                if (data > 0) {
                    document.getElementById("alertHead").innerHTML = data;
                    document.getElementById("alertText").innerHTML = data;
                    $('[id = "alertM"]').show();
                }
                else
                    document.getElementById("alertHead").innerHTML = "";
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    </script>
    @RenderSection("BodyScript", false)
</body>
</html>
