@model List<ReportOfActivity>

@if (Model.Count != 0)
{

    <table id="Activity_View" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>User</th>
                <th>Browser</th>
                <th>DNS</th>
                <th>IP Address</th>
                <th>Activity</th>
                <th>Request Date</th>
                <th>Absolute Uri</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ReportOfActivity reportOfActivity in Model)
            {
            <tr>
                <td>@reportOfActivity.FullName</td>
                <td>@reportOfActivity.Browser</td>
                <td>@reportOfActivity.DNS</td>
                <td>@reportOfActivity.IPAddress</td>
                <td>@reportOfActivity.Controller</td>
                <td>@reportOfActivity.TransactionDate.ToDisplayDateString()</td>
                <td>@reportOfActivity.AbsoluteUri</td>

            </tr>
            }

        </tbody>
    </table>
}
else
{
    <script type="text/javascript">
        toastr.error('No data Found');
    </script>

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Activity_View').DataTable({
            dom: 'lBfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": true,
        });
    });

    $('.toast').toast('show');
</script>