@model List<FollowUp>
@{
    ViewData["Title"] = "FollowUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>License Follow Up</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item">License</li>
                    <li class="breadcrumb-item active">Follow Up</li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            Follow Up
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="State">Status</label>
                                    <select class="form-control" name="status" style="width:100%">
                                        <option value="select" selected>-- Please Select--</option>
                                        <option value="1">Approved</option>
                                        <option value="0">Rejected</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="LicenseNumber">Request Number</label>
                                    <input type="text" name="RequestNumber" class="form-control" placeholder="Enter License Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FormDate">From Date </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>-->
                                        @*<input type="text" name="from_date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>*@
                                        <!--<input type="text" name="from_date" class="form-control" id="datep" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ToDate">To Date </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>-->
                                        @*<input type="text" name="to_date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>*@
                                        <!--<input type="text" name="to_date" class="form-control" id="datep1" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" onclick="status_submit()" class="btn btn-info"> <i class="fas fa-search"></i> Search </button>
                        <button type="button" onclick="clear_fun();" class="btn btn-info"><i class="fas fa-redo-alt"></i> Reset</button>
                    </div>
                </div>
            </div>-->
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">View Requisition</h3>
                    </div>
                    <div class="card-body" id="statustable">
                        <table id="example1" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Activity</th>
                                    <th>Request No</th>
                                    <th>Request Date</th>
                                    <th>License Type</th>
                                    <th>Status</th>
                                    <th>User Group</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (FollowUp fu in Model)
                                {
                                <tr>
                                    <td>
                                        <button onclick="FollowUp(@fu.ClaimUserId,@fu.UserTypeId, '@fu.RequestNo')" class="btn btn-sm btn-primary">
                                            <i class="fas fa-arrow-up pull-right"></i>Follow Up
                                        </button>
                                    </td>
                                    <td>@fu.RequestNo</td>
                                    <td>@fu.RequestDate.ToDisplayDateString()</td>
                                    <td>@fu.TypeName</td>
                                    <td>
                                        @if (fu.ClaimUserId != 0)
                                        {
                                            <span class="right badge badge-success">Claimed</span>
                                        }
                                        else
                                        {
                                            <span class="right badge badge-danger">Not Claimed</span>
                                        }
                                    </td>
                                    <td>@fu.UserTypeName</td>
                                    <td>@fu.FullName</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section BodyScript{

    <script type="text/javascript">

         //Date picker
        $('#datep').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $('#datep1').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        function FollowUp(UserId, UserTypeId, RequestNo) {
            debugger;
            //alert(UserId + "-" + UserTypeId);
            var val = '{"UserId":' + UserId + ',"UserTypeId":' + UserTypeId + ',"RequestNo": ' + '"' + RequestNo + '"}';
            //alert(val);
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendFollowUpMail", "Requisition")',
                data: val,
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (data) {
                    if (data == "true") {
                        //alert(data);
                        toastr.success('Follow Up mail has been fired');
                        window.location.reload();
                    }
                        
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log(response.responseText);
                }
            });
        }

        function clear_fun() {

            $('[name="RequestNumber"]').val("");

            $('select[name="status"]').val("select");
            //$('select[name="status"]').select2("val", "select");

            $('[name="from_date"]').val("");
            $('[name="to_date"]').val("");

            $('#statustable').html("");

        }

    </script>
}

