@using LicensingERP.Logic.DTO.Class;
@using LicensingERP.StateManagement;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<MenuGroup>
@{
    List<MenuGroup> menuLists = HttpContextAccessor.HttpContext.GetSession<List<MenuGroup>>("Menu");
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
            <a href="@Url.Action("Index", "Home")" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        @if (Model != null)
        {
            foreach (MenuGroup MG in Model)
            {
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon @MG.Icon"></i>
                        <p>
                            @MG.DisplayText
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @foreach (MenuList menuList in MG.menuLists)
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a href="@Url.Action(menuList.ActionResult, menuList.Controller)" class="nav-link active">
                                    <i class="nav-icon @menuList.Icon"></i>
                                    <p>
                                        @menuList.DisplayText
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }        
    </ul>
</nav>
